<h1>Welcome to the German Parade</h1>
<ul>
  {{#each students}}
    <li><a href="/{{name}}">{{name}}</a></li>
  {{/each}}
</ul>
<hr />

<ul>

  {{#each list}}
    <li>
      <a href="/wiki/{{name}}">{{name}}</a>
    </li>
  {{/each}}
</ul>